@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Source+Code+Pro:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*DECLARAÇÃO DE TODOS COMO FLEX*/
  header, .links, .conteudo, .conteudopdf, .card, .social, footer {
    display: flex;
  }

  /* ESTILO DO HEADER*/
header {
    background-color: #FFC107;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*ESTILO DO LOGO ONDE FICA A IMAGEM*/
  .logo {
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    box-shadow: 3px 3px 3px #333333;
  }
/*ESTILO DO TÍTULO DO SITE*/
.titulo {
    padding: 10px;
    color: #333333;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 1px 1px #FFFFFF;
    text-align: center;
}
nav {
    padding: 10px;
}
 ul {
    gap: 30px;
 }
 li {
    list-style: none;
 }
 /*ESTILO DOS LINKS*/
 a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    color: #FFFFFF;
    text-shadow: 2px 1px 1px #333333;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
 }
/*QUANDO MOUSE É PASSADO POR LINKS DO MENU*/
 a:hover {
    color: #333333;
    text-shadow: 2px 1px 1px #FFFFFF;
 }
  
  /* ESTILO DO MAIN */
  main {
    background-color: #F5F5F5;
  }
/*ESTILO DA DIV ONDE FICA OS CARDS*/
  .conteudo{
    justify-content: space-around;
    width: 80%;
    background-color: #333333;
    padding: 10px;
    margin: auto;
    flex-wrap: wrap;
  }
/*ESTILO IMAGEM DOS CARDS*/
  .imgcard{
    width: 100%;
    height: 100%;
    
 }
  /*ESTILO DOS CARDS*/
  .card {
    background-color: #F5F5F5;
    color: #333333;
    padding: 3px;
    flex-direction: column;
    margin-top: 10px;
    width: 200px;
    border: 2px solid #FFC107;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }


/*ESTILO DO TEXTO DOS CARDS*/
  .descricao {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px;
    text-indent: 15px;
    text-align: justify;
    
  }
  /*ESTILO DO BOTÃO DOS CARDS*/
  .card button {
    color: #000000;
    background-color: #FFC107;
    padding: 5px;
    width: fit-content;
    border: 3px double #333333;
    border-radius: 10px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.05em;
    font-weight: bold;
  }
/*ESTILO DO BOTÃO DOS CARDS QUANDO O MOUSE É PASSADO*/
  .card button:hover{
    background-color: #333333;
    color: #FFC107;
    border: 3px double #FFC107;
  }
  
  /* ESTILOS DO RODAPÉ */
  footer {
    background-color: #FFC107;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
}
/*ESPEÇAMENTO ENTRE LINKS DO FOOTER*/
.social {
    gap: 30px;
}

/*STYLE DO DESENVOLVIDO POR NO FOOTER*/
.desenvolvido p {
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px 1px black;
}
/*STYLE DOS LINKS DAS REDES SOCIAIS*/
.social a {
    gap: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}
/*STYLE DE TODAS AS REDES SOCIAIS*/
.insta {
    height: 50px;
    display: inline-block;
    padding-left: 30px;
    background-image: url('imgs/instagram.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left top;
    transition: transform 0.75s ease;
}

.linked {
    height: 50px;
    display: inline-block;
    padding-left: 30px;
    background-image: url('imgs/linkedin.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left top;
    transition: transform 0.75s ease;
}

.face {
    height: 50px;
    display: inline-block;
    padding-left: 30px;
    background-image: url('imgs/facebook.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left top;
    transition: transform 0.75s ease;
}

.git {
    height: 50px;
    display: inline-block;
    padding-left: 30px;
    background-image: url('imgs/github.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left top;
    transition: transform 0.75s ease;
}
/*O QUE ACONTECE QUANDO PASSA O MOUSE PELAS REDES SOCIAIS*/
.insta:hover, .linked:hover, .face:hover, .git:hover {
    transition: transform 0.75s ease;
    transform: scale(1.1); 
}





/*INICIO DE ESTILIZAÇÃO DA PÁGINA 2*/



.faixa {
    background-color: #FFC107;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}

.titulopdf {
    padding: 10px;
    color: #333333;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 1px 1px #FFFFFF;
    text-align: center;
}

/*STYLE DA DIV QUE RECEBE O ARQUIVO PDF*/
.conteudopdf{
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: #333333;
    padding: 10px;
    margin: auto;
  }
/*AQUI COMEÇA A RESPONSIVIDADE*/
  @media screen and (max-width: 750px) {

    .conteudo{
        flex-direction: column;
        width: 100%;
        align-items: center;   
  }

  .card{
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin-bottom: 10px;   
}

footer {
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
  }
    .titulofooter{
        padding-bottom: 25px;
        
}
  .social {
    flex-direction: column;
    gap: 2px;
}

}