* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .header, .aside, .content {
    padding: 10px;
  }
  
  .header {
    background-color: #ff9999;
    flex-basis: 20%;
    width: 100%;
  }
  
  .aside {
    background-color: #99ff99;
    flex-basis: 40%;
    width: 50%;
  }
  
  .content {
    background-color: #9999ff;
    flex-basis: 40%;
    width: 50%;
  }