/*
Paleta de cores:
#645DD7 Azul Escuro
#B3FFFC Azul Claro
#FB62F6 Rosa
#FF4242 Vermelho Imperial
#F2FF49 Amarelo
*/
:root {
    --AzulEscuro: #645DD7;
    --AzulClaro: #B3FFFC;
    --Rosa: #FB62F6;
    --VermelhoImperial: #FF4242;
    --Amarelo:#F2FF49;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a, p, h1, h2, h3, h4, h5, h6 {
    padding: 5px;
}

main {
    width: 90%;
    height: 90vh;
    margin: auto;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: var(--Rosa);
    color: white;
}

.navbar {
    display: flex;
    background-color: var(--AzulEscuro);
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.navbar a:hover {
    background-color: var(--AzulClaro);
    color: var(--VermelhoImperial);
    border-radius: 15px 15px 0px 0px;
}
.row-corpo {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 100%;
    height: 100%;
}

.fakeimg {
    background-color: var(--Amarelo);
    width: 100%;
    padding: 20px; 
 }
.main-esquerda {
    flex: 30%;
    background-color: var(--AzulClaro);
    padding: 20px;
 }

.side-right{
    flex: 70%;
    background-color: var(--AzulClaro);
    padding: 20px;
 }
 .footer {
    padding: 20px;
    text-align: center;
    background: var(--Rosa);
 }

 /* Aqui é feita a responsividade, onde indica que se a tela for até 700px de largura ele aplica as configurações setadas abaixo*/
@media screen and (max-width: 700px) {
    .fakeimg {
        background-color: var(--VermelhoImperial);
    }
    .row-corpo, 
    .navbar {
        flex-direction: column;
    }
    .navbar a:hover {
        background-color: var(--AzulClaro);
        color: var(--AzulEscuro);
        border-radius: 15px 15px 15px 15px;
    }
}